html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: #dadada;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid gray;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  button {
    display: block;
    border: none;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid gray;
  }

  svg {
    display: none;
    height: 64px;
    vertical-align: middle;
  }

  button:hover {
    background-color: #d0d0d0;
  }
}

#form.htmx-request {
  button {
    padding: 0;

    span {
      display: none;
    }

    svg {
      display: initial;
    }
  }
}

label {
  display: block;
}

.multiselect {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .multiselect__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    overflow: auto;
    font-weight: 400;
    /* font-size: 11px; */
  }

  .multiselect__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }
}

#form__inputs {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;

  .form__input {
    display: flex;
    flex-direction: column;

    /* input {
      width: 100%;
    } */
  }

  /* .form__input--checkbox {
    display: flex;
    justify-content: space-between;
  } */
}

#hours-div {
  display: inline;
  height: 100px;
  vertical-align: middle;
  padding: 10px;
  font-size: 40px;
  text-shadow: 2px 2px;
}

.time-entries {
  height: calc(90vh - 50px);
  width: 90vw;
  max-width: 1600px;
  overflow-y: scroll;
  background-color: white;
}

.time-entry {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.time-entry:hover {
  background-color: #f9f9f9;
}

.time-entry:last-child {
  border-bottom: none;
}

.time-entry div {
  /* width: 300px; */
  text-align: right;
  padding: 10px;
  width: 33%;
}

.time-entry--time-off div:last-child {
  color: red;
}

.time-entry div:first-child {
  text-align: left;
  width: 34%;
}

.time-entries__header {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding-bottom: 10px;

  div {
    text-align: right;
    width: 33%;
  }

  div:first-child {
    text-align: left;
    padding-left: 10px;
    width: 34%;
  }

  div:last-child {
    padding-right: 27px;
  }
}

.time-entries__footer {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  border-top: 2px solid black;
  padding-top: 10px;

  div:first-child {
    text-align: left;
    padding-left: 10px;
  }

  div:last-child {
    text-align: right;
    padding-right: 27px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #101010;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid darkgray;
  padding: 0 10px;

  a {
    display: inline-block;
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }
}

.navbar__left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 33%;
}

.navbar__center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-grow: 2; */
  gap: 20px;
  width: 34%;
}

.navbar__right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 33%;
}

.details-page {
  height: 100%;
  padding-top: 45px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    stroke-dasharray: 1, 800;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -200px;
  }
  100% {
    stroke-dasharray: 800, 1;
    stroke-dashoffset: -800px;
  }
}

.spin {
  transform-origin: center;
  animation: spin2 1.5s ease-in-out infinite, spin 2s linear infinite;
  animation-direction: alternate;
}
